.PersonSelector {
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 16px;

    input {
        margin-bottom: 0 !important;
    }

    .inputContainer {
        >* {
            width: 100%;
        }

        button {
            width: min-content;
            white-space: nowrap;
        }

        display: flex;
        gap: 1rem;
        align-items: last baseline;
    }
}