.ViewFilter {
    background: white;
    border: $accent-border;
    padding: 1rem;
    border-radius: 1rem;
    width: 25rem;
    position: sticky;
    top: 1rem;

    .sectionHead {
        font-family: 'Zilla Slab';
        font-size: 1.25rem;
        display: block;
        margin-bottom: 1rem;
    }

    .filterOptions {
        margin-top: 1rem;
    }

    .dates {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 1rem;

        div,
        input {
            width: 100%;
        }
    }
}