.SelectorInput {
    position: relative;
    min-height: 3.5rem;

    button {
        border: $accent-border;
        border-color: $accent-secondary-color;
        background-color: white;
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .options {
        pointer-events: none;

        &.down {
            flex-direction: column;
            top: 0;
            bottom: unset;

            .mainButton {
                span {
                    transform: rotate(180deg);
                }

                &.active {
                    border-radius: 7.5px 7.5px 0 0;
                    border-bottom-width: 0.075rem;

                    span {
                        transform: rotate(0deg);
                    }
                }
            }

            .menu {
                transform: scale(0.98) translateY(-1rem);

                button {
                    &:first-child {
                        border-radius: 0;
                    }

                    &:last-child {
                        border-radius: 0 0 7.5px 7.5px;
                        border-bottom-width: 0.15rem;
                    }
                }
            }
        }

        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        bottom: 0;

        button {
            white-space: nowrap;
        }

        .mainButton {
            z-index: 4;
            pointer-events: all;

            span {
                transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
            }

            &.active {
                border-radius: 0 0 7.5px 7.5px;
                border-top-width: 0.075rem;

                span {
                    transform: rotate(180deg);
                }
            }
        }

        .menu {
            opacity: 0;
            transform: scale(0.98) translateY(1rem);
            transition: opacity 0.6s cubic-bezier(0.16, 1, 0.3, 1), transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
            z-index: 3;

            &.active {
                opacity: 1;
                pointer-events: all;
                transform: scale(1);
                z-index: 10;
            }

            button {
                &:first-child {
                    border-radius: 7.5px 7.5px 0 0;
                    border-top-width: 0.15rem;
                }

                width: 100%;
                border-radius: 0;
                border-bottom-width: 0.075rem;
                border-top-width: 0.075rem;
            }
        }
    }
}