.AllRecords {
    display: flex;
    gap: 1rem;

    .recordsGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
        flex-grow: 1;

        .record {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 0.5rem;
            border-radius: 1rem;

            &:hover {
                background: $accent-border-color;
            }

            .image {
                width: 100%;
                height: 8rem;
                border-radius: 1rem;
                background-size: cover;
                background-color: $accent-border-color;
                background-position: center top;
                background-repeat: no-repeat;
            }

            .recordName {
                font-size: 1.5rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 12rem;
            }

            .recordType {
                text-transform: capitalize;
            }

            .recordDate {
                font-weight: bold;
            }
        }
    }
}