.form {
    display: flex;
    flex-direction: row;

    input,
    textarea {
        width: 100%;
        margin-bottom: 16px;
    }

    .fileArea {
        flex: 1;
    }

    .formArea {
        flex: 1;
    }

    .genericIcon {
        font-size: 155px;
        color: #333;
    }
}