.form {
    display: flex;
    flex-direction: row;

    input,
    textarea {
        width: 100%;
    }

    .fileArea {
        flex: 1;
    }

    .formArea {
        flex: 1;
    }

    .genericIcon {
        font-size: 155px;
        color: #333;
    }

    .fieldError {
        color: red;
        display: block;
        margin-top: -0.5rem;
        margin-bottom: 1rem;
    }

    input[type="submit"] {
        margin-top: 2rem;
    }
}