.navbar {
    width: 23rem;
    position: fixed;
    padding: 1rem;
    height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5rem;
    border-radius: 1rem;
    background: $accent-bg-color;
    border: $accent-border;

    img {
        height: 2.5rem;
    }

    .top {
        .header {
            margin-bottom: 3rem;
            display: flex;
            justify-content: space-between;
        }

        .navLinks {
            display: flex;
            flex-direction: column;
            margin: 0 -1rem;

            button,
            .button {
                background: $accent-bg-color;
                border: $accent-border;
                border-radius: 0;
                border-left-width: 0px;
                border-right-width: 0px;
                border-bottom-width: 0px;
                color: black;
                text-align: left;
                font-size: 1.15rem;
                padding: 1.25rem;
                display: flex;
                gap: 1rem;
                align-items: center;
            }

            button:last-child,
            .button:last-child {
                border-bottom-width: 0.25rem;
            }
        }
    }
}