.FamilyPage {
    .clickToRename {
        display: block;
        opacity: 0.5;
        font-style: italic;
        margin-top: -2rem;
        margin-bottom: 2rem;
    }

    .users {
        a:not(:last-child) {
            border-bottom: 1px solid $accent-border-color;
            display: block;
        }

        .user {
            &:hover {
                background-color: $accent-border-color;
            }

            padding: 1rem;
            border-radius: 0.5rem;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
}