.PersonFilter {
    margin-top: 1rem;
    position: relative;

    input {
        width: 100%;
    }

    .personList {
        position: absolute;
        background-color: white;
        width: 100%;
        z-index: 1;
        border: 2px solid $accent-secondary-color;
        border-top: none;
        border-radius: 0 0 1rem 1rem;
        margin-bottom: 1rem;

        .person {
            &:not(:last-child) {
                border-bottom: 2px solid $accent-secondary-color;
                border-radius: 0rem;
            }

            background-color: white;
            color: black;
            width: 100%;
            border-radius: 0;
            border-radius: 0 0 1rem 1rem;
        }
    }

    .activeList {
        margin-top: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .activePerson {
            padding: 0.5rem 1rem;
            background: $accent-border-color;
            border-radius: 99rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.25rem;

            .removePerson {
                background: transparent;
                padding: 0;
                color: black;
            }
        }
    }
}