.SortToggle {
    display: inline-flex;
    align-items: center;
    margin-right: 0.5rem;

    .arrow {
        transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);

        &.flipped {
            transform: rotate(180deg);
        }
    }
}