.RecordSelector {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 650px;

    .recordType {
        padding: 1.25rem;
        border-radius: 1rem;
    }

    .leftPanel {
        width: 50%;
        padding: 1rem;
        border-right: 1px solid lightgray;
    }

    .rightPanel {
        width: 50%;
        padding: 1rem;

        .recordTypeButtons {
            margin-top: 1rem;
            display: grid;
            flex-wrap: wrap;
            gap: 1rem;
            grid-template-columns: auto auto;
        }
    }
}