.container {
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 2rem;
    border-radius: 1rem;
    background: $accent-bg-color;
    border: $accent-border;

    button {
        margin-top: 2rem;
        width: 100%;
    }
}