@import 'variables.scss';

html {
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: $accent-bg-color;
    min-width: 100vw;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: 'Zilla Slab';
    line-height: 2rem;
}

a {
    color: black;
    text-decoration: none;
}

p {
    line-height: 1.75rem;
}

hr {
    border: none;
    background: $accent-border-color;
    height: 2px;
}

button,
.button {
    padding: 0.75rem;
    background: $accent-color;
    color: white;
    border-radius: 0.5rem;
    height: fit-content;
    font-family: 'Inter';
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

button.secondary,
.button.secondary {
    background: $accent-secondary-color;
    color: white;
}

button.tertiary,
.button.tertiary {
    background: $accent-border-color;
    color: black;
}

button:hover,
.button:hover {
    cursor: pointer;
    filter: brightness(0.85);
}

button:disabled,
.button.disabled {
    pointer-events: none;
    filter: saturate(0) brightness(3.5);
}

button.delete,
.button.delete {
    background-color: #ffacac;
    color: black;
}

.page {
    padding: 2rem 2rem 2rem 26rem;
    min-height: 100vh;

    .topBar {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .pageOptions {
        float: right;
        display: flex;
        gap: 1rem;
    }
}

.title {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 3rem;
    font-weight: normal;
}

.column {
    max-width: 60rem;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input,
textarea {
    border-radius: 0.5rem;
    border: 0.15rem solid $accent-secondary-color;
    padding: 0.5rem;
    font-family: Inter;
}

label {
    display: block;
    margin-bottom: 0.25rem;
}