$accent-bg-color: #fffcfc;
$accent-border-color: #f5eded;
$accent-color: #3838b8;
$accent-secondary-color: #203f2a;

$accent-border: 0.15rem solid $accent-border-color;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Zilla+Slab:wght@400;700&display=swap');