$accent-bg-color: #fffcfc;
$accent-border-color: #fff6f0;
$accent-color: #3838b8;
$accent-secondary-color: #b77c1b;

$accent-border: 0.15rem solid $accent-border-color;

@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');