.FamilySelector {
    position: relative;

    .activeFamilies {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .family {
            padding: 0.5rem 1rem;
            background: $accent-border-color;
            border-radius: 1rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &.default {
                border: 2px solid $accent-secondary-color;
            }

            .options {
                display: flex;
                gap: 1rem;
                align-items: center;

                .defaultLabel {
                    display: flex;
                    align-items: center;
                    border: 1px solid black;
                    border-radius: 99rem;
                    padding: 0 0.5rem;
                    gap: 0.5rem;
                }
            }
        }

    }
}